header {
  font-size: var(--calcite-font-size-1);
  line-height: 1.5rem;
  font-weight: var(--calcite-font-weight-medium);
  margin-bottom: 0.375rem;
}

calcite-label {
  --calcite-font-size--1: 16px;
}