:host {
  /**
   * Note: this component exposes 2 css custom variables:
   * 1. --arcgis-configuration-form-footer-bg-color: used to
   * override the background color of the footer - this is useful if you
   * want a form with a sticky footer that matches the form's bg color
   * 2. --arcgis-configuration-form-footer-negative-margin used to
   * apply a negative margin to the footer - this is useful if your
   * form's container applies a margin/padding but you want the (sticky)
   * footer to extend the entire length of the container
   */
  display: block;
  height: 100%;
}

.configuration-form__container {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
}

.configuration-form__body {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.configuration-form__content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.configuration-form__body ::slotted([slot="header"]) {
  margin: 0px;
  font-size: var(--calcite-font-size-2);
  line-height: 1.5rem;
  font-weight: var(--calcite-font-weight-medium);
}

.configuration-form__footer {
  background-color: var(--arcgis-configuration-form-footer-bg-color, inherit);
  max-width: var(--arcgis-configuration-form-footer-max-width, none);
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: flex-end;
}

.configuration-form__footer--fixed {
  margin: 0px;
}

.configuration-form__footer--sticky {
  margin-left: calc(-1 * var(--arcgis-configuration-form-footer-negative-margin, 0));
  margin-right: calc(-1 * var(--arcgis-configuration-form-footer-negative-margin, 0));
  position: sticky;
  left: 0px;
  bottom: 0px;
  z-index: 10;
  padding-top: 1rem;
  padding-bottom: 1rem;
  --tw-shadow: 0 6px 20px -4px rgba(0, 0, 0, 0.1), 0 4px 12px -2px rgba(0, 0, 0, 0.08);
  --tw-shadow-colored: 0 6px 20px -4px var(--tw-shadow-color), 0 4px 12px -2px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.configuration-form__footer--sticky .configuration-form__footer--primary {
  margin-right: var(--arcgis-configuration-form-footer-negative-margin, 0);
  margin-left: 0.5rem;
}

calcite-modal [slot="content"] {
  padding: 1rem;
}
