.config-editor-radio__block {
  border-block-end-width: 0px;
  /* this is a little hacky, but when the calcite-link
  is set to have an "inline" layout, the block doesn't
  appear to be resizing appropriately - this ensures the
  block takes up 100% - the width of the radio btn + padding */
  width: calc(100% - 1.25rem);
}

fieldset {
  margin: 0;
  padding: 0;
  border: none;
  max-height: var(--maxHeight);
  overflow: hidden;
}

calcite-block {
  width: 100%;
}

calcite-radio-button-group {
  margin-left: 0.125rem;
}
