:host {

    display: block;

    border-width: 1px;

    border-style: solid
}

.list-card-content {

    position: relative;

    margin: 1rem;

    display: flex;

    flex-direction: column;

    gap: 0.75rem
}

.list-card-header {

    display: flex;

    flex-direction: row;

    align-items: center;

    gap: 0.5rem
}

::slotted([slot="header"]) {

    font-size: var(--calcite-font-size-2);

    line-height: 1.5rem;

    font-weight: var(--calcite-font-weight-medium);

    overflow: hidden;

    display: -webkit-box;

    -webkit-box-orient: vertical;

    -webkit-line-clamp: 2
}
