:host {
  position: absolute;
  z-index: 1;
  width: max-content;
  --tw-shadow: 0 6px 20px -4px rgba(0, 0, 0, 0.1), 0 4px 12px -2px rgba(0, 0, 0, 0.08);
  --tw-shadow-colored: 0 6px 20px -4px var(--tw-shadow-color), 0 4px 12px -2px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  top: var(--top-offset);
  left: var(--left-offset);
  transform: var(--transform)
}

calcite-action {
  border-width: 0px;
  border-top-width: 1px;
  border-style: solid;
  border-color: var(--calcite-color-border-1)
}

calcite-action:first-of-type {
  border-width: 0px
}

calcite-action-pad > calcite-action {
  border-width: 0px
}

calcite-action-group {
  border-width: 0px;
  border-bottom-width: 1px;
  border-style: solid;
  border-color: var(--calcite-color-border-1)
}

calcite-action-group > calcite-action {
  border-style: none
}
