:host {
  display: block;
}

slot[name='actions'] {
  display: flex;
  gap: 0.75rem;
}

calcite-notice slot[name='actions'] {
  margin-top: 1rem;
}

calcite-modal calcite-label[slot='back'] {
  --calcite-label-margin-bottom: 0;
  height: 100%;
}

calcite-modal [slot='header'] > * {
  margin: 0px;
  font-weight: var(--calcite-font-weight-bold);
}

.popover-reference {
  display: inline-block;
}

.popover-content {
  padding: 0.75rem;
}

.popover-content slot[name='actions']:has(*) {
  margin-top: 1rem;
}
