/* we overwrite this custom variable to change the size of
subblock section headers depending on the section's scale
TODO: add styling for "s" scale */
.section-subblock--l {
  --calcite-font-size--1: 18px;
}
.section-subblock--m {
  --calcite-font-size--1: 16px;
}

/* We safeguard against fields rendered within a block
section from inheriting the overwritten section header
font sizes by explicitly re-setting this custom variable
for all slotted content within a calcite-block */
calcite-block-section ::slotted(*) {
  --calcite-font-size--1: 14px;
}

/* adjust the helper text margins */
calcite-block-section::slotted(.section__content) > .helper-text {
  margin-top: -1rem;
  margin-bottom: 1.5rem;
}

/* apply layout editor variant styling */
.variant-layout-editor {
  --calcite-font-weight-medium: var(--calcite-font-weight-bold);
}
.variant-layout-editor ::slotted(.section__content) > .section__fields {
  font-weight: var(--calcite-font-weight-bold);
}
