.project-about__initiatives calcite-button {
  margin-top: 1.5rem;
}

h2 {
  margin: 0 0 0.75rem 0;
  font-size: var(--calcite-font-size-2);
  line-height: 1.5rem;
  font-weight: var(--calcite-font-weight-bold);
}
